body {
    color:rgb(248, 150, 248);
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(221, 128, 164);
    padding: 20px;
    font-size: 32px;
    color: rgb(131, 210, 241);
}

.chamada {
    background: rgb(255, 161, 177);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
    opacity:0.5;
    height: 200px;
}

.categoria-videos img:houver {
    opacity: 1.0;
    border: 3px solid rgb(173, 219, 173);
}

.categori h2 {
    color:rgb(164, 213, 233)
}